body {
    font-family: sans-serif;
    background-color: black;
}

head {
    display: flex;
}

header {
    justify-content: space-between;
    padding: ;
    margin-bottom: 20px;
    display: flex;
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
    display: flex;
}

.nav-link {
    font-size: 24px;
    color: red;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: black;
    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
    display: flex;
}

article {
    background-color: white;
    padding: 20px;
    width: 400px;
    margin: 20px;
}

.article-but {
    text-decoration: none;
    background-color: blue;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    margin-left: 60px;
}

footer {

    background-color: #FF9200;
    padding: ;
}

footer a {
    margin-right: ;
}

footer p {
    font-size: 24px;
    text-align: right;
    padding-right: 10px;
}

.w123 {
    padding-left: 80px;
}

.r123 {
    padding-left: 25px;
    padding-top: 45px;
}

.nav-link:hover {
    color: purple;
}

.article-but:hover {
    background-color: white;
    color: blue;
    border: 5px solid blue
}

.button:hover {
    background-color: white;
    color: #36bbce;
    border: 5px solid #36bbce;
}
